/.idea
/cmake-build-debug
/newDirectory.zip
/cmake-build-debug-mingw
/cmake-build-release-mingw
/cmake-build-relwithdebinfo-mingw
/cmake-build-release
/.vs
/out
/public
/interface-design-main
/camera/freecam_fast_generated.hpp
/camera/freecam_paint_generated.hpp
/camera/freecam_class_generated.hpp
